.container{
    display: flex;
    gap: 100px;
}
.imgContainer{
    flex: 1;
    position: relative;
    height: 400px;
}
.formContainer{
    flex: 1;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form input,
.form textarea {
  padding: 20px;
  border-radius: 5px;
  background-color: var(--bgSoft);
  border: none;
  color: var(--text);
}
.form button {
  padding: 20px;
  background-color: var(--btn);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
  }}